<div>
   <label for="add1">Address Line 1:</label>
   <input type="text" id="add1" class="form-control" [(ngModel)]="address.add1" placeholder="Enter Address Line 1" (ngModelChange)="onAddressChange()" />
 </div>
 <div>
   <label for="add2">Address Line 2:</label>
   <input type="text" id="add2" class="form-control" [(ngModel)]="address.add2" placeholder="Enter Address Line 2" (ngModelChange)="onAddressChange()" />
 </div>
 <div>
   <label for="city">City:</label>
   <input type="text" id="city" class="form-control" [(ngModel)]="address.city" placeholder="Enter City" (ngModelChange)="onAddressChange()" />
 </div>
 <div>
   <label for="pincode">Pincode:</label>
   <input type="text" id="pincode" class="form-control" [(ngModel)]="address.pincode" placeholder="Enter Pincode" (ngModelChange)="onAddressChange()" />
 </div>
 <div>
   <label for="state">State:</label>
   <input type="text" id="state" class="form-control" [(ngModel)]="address.state" placeholder="Enter State" (ngModelChange)="onAddressChange()" />
 </div>
 