<div>
    <button type="submit" class="btn btn-primary"(click)="register()">Register User</button>
    <button type="submit" class="btn btn-primary"(click)="forgotpassword()">Forgotpassword</button>
    <a href="/forgotpassword" target="_blank">ForgotPassword Link</a>
    <a routerLink="/forgotpassword">Forgotpassword routerLink Link</a>
    <button type="submit"class=" btn btn-primary"(click)="login()">login</button>
    <a routerLink="/addRestaurant">Restaurant</a>
    {{fullNameFromChild}}
</div>

<router-outlet />
